.login-container {
    width: 350px;    
    padding: 25px;
    background-color: #DEDEDE;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 1px 2px 20px #919191;  
  border: 1px solid #DEDEDE;
}